<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Music Recommandations</title>
</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Music recommendations</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam placerat metus posuere consequat eleifend. Fusce placerat, mi vitae tempor finibus, orci urna dignissim ligula, a mollis est eros ac eros.</p>
            <div class="row justify-content-md-center">
                <div class="col col-lg-8 centered">
                    <form action="" method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="moodSelect">Mood</label>
                            </div>
                            <select class="custom-select" id="moodSelect" name="mood" required>
                                <option value="" selected>Choose...</option>
                                {% for mood in moods %}
                                <option value="{{ mood }}">{{ mood }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="minPopularityRange">Minimum popularity</label>
                            <input type="range" class="custom-range" id="minPopularityRange" name="minpopularity" value="25" min="0" max="100">
                        </div>
                        <div class="form-group">
                            <label for="maxPopularityRange">Maximum popularity</label>
                            <input type="range" class="custom-range" id="maxPopularityRange" name="maxpopularity" value="100" min="0" max="100">
                        </div>
                        <div class="form-group">
                            <label for="minYearInput">Minimum Year</label>
                            <input type="number" name="minyear" class="form-control" id="minYearInput" placeholder="2010">
                        </div>
                        <div class="form-group">
                            <label for="maxYearInput">Maximum Year</label>
                            <input type="number" name="maxyear" class="form-control" id="maxYearInput" placeholder="2020">
                        </div>
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>